extends layout

block content
 .container
  h1 #{title}
  ul.errors
   if errors
    each error, i in errors
     li.alert.alert-danger #{error.msg}
  .col-md-6
   form(method='post', action='/categories/add')
    .form-group
     label Title:
     input.form-control(name='title', type='text')
    .form-group
     label Description:
     textarea.form-control(name='description')
    input.btn.btn-primary(style='margin-right:2%;',type='submit', name='submit', value='Save')
    a(class='btn btn-danger', href="/manage/categories") Back
